
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a routerLink="/products">Cliquez ici pour revenir à la liste des produits</a>
           </h6>
            </div>
        </div>
        <form  #f ="ngForm" (ngSubmit)="onSubmit()"class="checkout__form form">
            <div class="row">
                <div class="col-lg-8 " >
                
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="checkout__form__input">
                                <p>Nom du produit</p>
                                <input type="text" name="name" ngMdel  [(ngModel)]="product.Name"  class="form-control">
  
                            </div>
                        </div>
                        
                      
                        <div class="col-lg-12">
                          <div class="checkout__form__input">
                              <p>Prix </p>

                              <input type="text" name="price" ngMdel   [(ngModel)]="product.Price"  class="form-control" />
                        
                          </div>
                       
                      </div>
                        
                      
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>Catégorie </p>
                           
                            <select class="form-control"  (change)="selectOption($event.target.value)"
                            [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                            
                              <option *ngFor="let c of categories" [value]="c">{{c.name}}</option>
                             
                            </select>
                        </div>
                    </div>
                     
                 
                       
                        </div>
                    </div>
                    
                </div>
                <button type="submit" class="site-btn" style="margin-top: 10px;" >Enregistrer</button>
            </form>
        </div>
  
  